@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/src/ASST/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* رنگ‌های اصلی پروژه */
  --color-primary: 94 184 206;
  /* #5eb8ce */
  --color-primary-active: 29 158 169;
  /* #1d9ebd */
  --color-secondary: 255 107 107;
  /* #ff6b6b */
  --color-accent: 78 205 196;
  /* #4ecdc4 */
  --color-white-custom: 255 255 255;
  /* #e0e0e0 */
  --color-text-dark-custom: 18 18 18;
  /* #e0e0e0 */
  --color-text-light-custom: 178 178 178;
  /* ##B2B2B2 */
  --color-black-custom: 26 26 26;
  /* #000000 */
  /* رنگ‌های خنثی */
  --color-dark: 26 26 26;
  /* #1a1a1a */
  --color-light: 248 249 250;
  /* #f8f9fa */

  /* رنگ‌های حالت‌ها */
  --color-success: 40 167 69;
  /* #28a745 */
  --color-warning: 255 193 7;
  /* #ffc107 */
  --color-danger: 220 53 69;
  /* #dc3545 */
}


body {
  font-family: 'Roboto';
  /* color: rgb(var(--color-white-custom));
  background-color: rgb(var(--color-black-custom)); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}
@layer components {
  .my-custom-card {
    @apply rounded-md  bg-white-custom text-text-dark-custom dark:bg-black-custom dark:text-text-light-custom ;
  }
}
@layer components {
  .custom-card {
    @apply  bg-white-custom text-text-dark-custom dark:bg-black-custom dark:text-text-light-custom;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  /* gray-400 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.swiper-container {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100% !important;
  flex-shrink: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  display: none !important;
}

.autoplay-progress svg {
  display: none !important;
}
