@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/src/ASST/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* رنگ‌های اصلی پروژه */
  --color-primary: 94, 184, 206; /* #5eb8ce */
  --color-secondary: 255, 107, 107;
  /* #ff6b6b */
  --color-accent: 78, 205, 196;
  /* #4ecdc4 */

  /* رنگ‌های خنثی */
  --color-dark: 26, 26, 26;
  /* #1a1a1a */
  --color-light: 248, 249, 250;
  /* #f8f9fa */

  /* رنگ‌های حالت‌ها */
  --color-success: 40, 167, 69;
  /* #28a745 */
  --color-warning: 255, 193, 7;
  /* #ffc107 */
  --color-danger: 220, 53, 69;
  /* #dc3545 */
}

/* حالت تاریک (Dark Mode) */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 37, 163, 161;
    /* #25a3a1 */
    --color-secondary: 204, 86, 86;
    /* #cc5656 */
    --color-dark: 240, 240, 240;
    /* #f0f0f0 */
    --color-light: 30, 30, 30;
    /* #1e1e1e */
  }
}

body {
  font-family: 'Roboto';
  color: rgb(var(--color-dark));
  background-color: rgb(var(--color-light));
}

html,
body,
#root {
  height: 100%;
}